# ========================
# Gradle
# ========================
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# ========================
# Java
# ========================
*.class
*.jar
*.war
*.ear
*.log

# ========================
# IntelliJ IDEA
# ========================
.idea/
*.iml
out/

# ========================
# OS (Mac)
# ========================
.DS_Store

# ========================
# Logs
# ========================
logs/
*.log

# ========================
# Env / Secrets
# ========================
.env
*.env
.env.*

# ========================
# Test reports
# ========================
allure-results/
allure-report/

# ========================
# Misc
# ========================
target/
tmp/